<?xml version="1.0"?>
<settings>
    <servers>
        <server>
            <id>github</id>
            <username>schulzp</username>
            <password>__GITHUB_TOKEN__</password>
        </server>
        <server>
            <id>bintray</id>
            <username>schulzp</username>
            <password>__BINTRAY_TOKEN__</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>gpg</id>
            <properties>
                <gpg.keyname>${env.GPG_KEYNAME}</gpg.keyname>
                <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
            </properties>
        </profile>
        <profile>
            <id>github</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <altDeploymentRepository>github::https://maven.pkg.github.com/traum-ferienwohnungen/testcontainers-proxy</altDeploymentRepository>
            </properties>
            <repositories>
                <repository>
                    <id>github</id>
                    <name>GitHub Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/traum-ferienwohnungen/testcontainers-proxy</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>bintray</id>
            <properties>
                <altDeploymentRepository>bintray::https://api.bintray.com/maven/traum-ferienwohnungen/maven/testcontainers-proxy/;publish=1</altDeploymentRepository>
            </properties>
            <repositories>
                <repository>
                    <id>bintray</id>
                    <name>JFrog Bintray Apache Maven Packages</name>
                    <url>https://dl.bintray.com/traum-ferienwohnungen/maven</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
